
{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{ persentual }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ persentual }}</div>
</div>
<br> </br>

<form method=GET>
 
<div class="card border-primary mb-3" style="max-width: 27rem;">
 
  <div class="card-header">{{ resumo }}</div>
  <div class="card-body text-primary">
    <h5 class="card-title">{{ status }}</h5>
    <p class="card-text"> {{ status }}</p>
  </div>
</div>

</form>



{% endblock %}
