
{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{ persentual }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{ persentual }}</div>
</div>
<br> </br>

<form method=GET>
  {% for evento in evento %}
<div class="card border-primary mb-3" style="max-width: 27rem;">


  <div class="card-header">{{ evento.codigo  }}</div>
  <div class="card-body text-primary">
    <h5 class="card-title">{{ evento.local }}</h5>
    <p class="card-text"> {{ evento.status }}</p>
  </div>
  
</div>
{% endfor %}
</form>



{% endblock %}
